# Ignore compiled object files
*.o

# Ignore executables and objects
bin
build

# Ignore text files
*.txt

# Ignore Generators output
src/scanner.c
src/parser.c
include/parser.h
parser.output

test

# Ignore vscode build settings
.vscode